html body {
    background: #fafafa;
    color: #333333;
    margin-top: 65px;
}

.main-container{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
}

.main-row{
    margin-top: 65px;
}

.min-width{
    width: 175px;
}

.menu-column {
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 0px;
  width: 175px;
}

.content-block {
  flex-grow: 8;
  margin-top: 20px;
}